.az-nav-rail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
  transition: width 0.3s ease;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.az-nav-rail.right {
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.header {
  padding: 16px;
  text-align: center;
  cursor: pointer;
}

.app-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.app-icon.circle {
    border-radius: 50%;
}

.app-icon.rounded {
    border-radius: 12px;
}

.app-icon.none {
    border-radius: 0;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

.rail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
}

.rail.packed {
    /* Reduce default spacing between items */
    gap: 0;
}

/* If packed, override button margins */
.rail.packed .az-nav-rail-button {
    margin: 0;
}

.menu {
  padding: 8px;
}

.footer {
  padding: 16px;
  text-align: center;
}
